<div class="site__menu-wrapper">
    <a class="site__menu-logo js__menu-show" href='{{ site.baseurl }}'>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
    </a>
    {% if page.post_class contains "post-template" %} <a class="back-button icon-arrow-left" href="{{ site.blogurl }}">Back to blog</a> {% endif %}
</div>
<div class="site__shadow"></div>
<nav class="site__sidebar">
    <div class="site__sidebar-menu">
        <ul>
            <li class="list-title">Menu:</li>
            <li><a href='{{ site.baseurl }}'>About Me</a></li>
            <li><a href='{{ site.blogurl }}'>Blog</a></li>
            <li class="list-title">Contact me:</li>
            <li><a href="mailto:ivan+website@simplified.me">Email</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=1083954301">Facebook</a></li>
            <li><a href="https://twitter.com/ivankriznar">Twitter</a></li>
        </ul>
    </div>
</nav>
